@model IEnumerable<DataLayer.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("جستجو", "Search") |
    @Html.ActionLink("درخواست ورود", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Family)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NationalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExitTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkingTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Family)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Phone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NationalCode)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ArrivalTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ExitTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.WorkingTime)
    </td>
    <td>
        @Html.ActionLink("ویرایش", "Edit", new { id = item.UserID }) |
        @Html.ActionLink("جزئیات", "Details", new { id = item.UserID }) |
        @Html.ActionLink("حذف", "Delete", new { id = item.UserID }) |
        @Html.ActionLink("زمان خروج", "Exit", new { id = item.UserID })
    </td>
</tr>
}

</table>
